@import url("kozos.css");

article{
    display: flex;
    justify-content: center;
    
}
form{
    max-width: 530px;
}
.adatok{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;

}
.adatok div{
    flex-direction: column;
    flex: 0 0 33.3%;
    gap: 10px
}

.velemeny>div{
    padding-top: 20px;   
}
.velemeny{
    display: flex;
    flex-wrap: wrap;
}
/*
.radiobuttonFlex{
    display: flex;
}
.radiobuttonFlex>span{
    flex: 0 0 20%;
    justify-content: flex-end;
}
.radiobuttonFlex>span{
    float: right;
}
*/


textarea{
    width: 530px;
    height: 50px;
    max-width: 530px;
    max-height: 50px;
    min-width: 530px;
    min-height: 50px;
}
form>span{
    text-align: right;
}
.checkbox{
    display: flex;
}
.checkbox{
    flex: 0 0 100%;
}
.checkbox>div{
    flex-direction: column;
    flex: 0 0 33.3%;
}
label.kepkocka{
    padding-top: 20px;
}
.email{
    padding-top: 20px;
}
.input{
    float: right;
}